@import '../../../node_modules/dhtmlx-scheduler/codebase/dhtmlxscheduler.css';

.calendar-wrapper{
    padding:100px 50px;
    width: auto;
    margin: 0 auto;
    .dhx_cal_container{
        height: 600px;
    }
}