<div class="login-wrapper">
    <section class="login">
        <div class="login__logo">
            <img src="./assets/Logo.svg" alt="Vannvokter">
            <h1 class="login__logo__title">Vannvokter</h1>
        </div>
        <div class="login__form">
            <form>

                <div class="form-field">
                    <div class="form-field__img">
                        <img src="./assets/user.png" alt="">
                    </div>
                    <input type="text" placeholder="Login" class="form-input" name="login">
                </div>

                <div class="form-field">
                    <div class="form-field__img">
                        <img src="./assets/password.png" alt="">
                    </div>
                    <input type="password" placeholder="Password" class="form-input" name="password">
                </div>

                <div class="form-field">
                    <button (click)="redirect()" type="submit" class="btn btn-login">Login</button>
                </div>
                <div class="form__info">
                    <label>Forgot password? <a href="#">Reset here.</a></label>
                </div>
            </form>
        </div>
    </section>
</div>