header.header{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #157A6E;
    .header__left{
        margin-left: 5%;
        h1{
            font-family: 'Koulen', sans-serif;
            color: white;
            padding: 5px;
        }
    }
    .header__right{
        display: flex;
        align-items: center;
        margin-right: 20px;
        .header__right__profile{
            padding: 10px;
            margin: 0 10px;
            img{
                width: 40px;
            }
        }
        .header__right__menu{
            padding: 10px;
            margin: 0 10px;
            margin-bottom: -10px;
            img{
                width: 40px;
            }
        }
    }
}