<nav class="nav">
    <section class="nav__top">
        <div class="nav__top__left">
            <h3 class="nav__top__left__title">Hello, <span>{{user.name}}</span>!</h3>
            <p class="nav__top__left__info">{{userFullName}}</p>
            <p class="nav__top__left__info">{{userAdress}}</p>
        </div>
        <div class="nav__top__right">
            <div>
                <img src="./assets/cloud.png" alt="">
            </div>
            <p>{{temp[0]}} <span>°C</span></p>
        </div>
    </section>
    <section class="nav__menu">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a routerLink="calendar">Schedule</a></li>
            <li><a href="#">Data</a></li>
        </ul>
    </section>
</nav>
